* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

p {
    font-size: 20px;
}

#main_page {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(../images/background.png);
    background-size: cover;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #44498c;
    /* 保持原有颜色 */
    color: #fff;
    height: 50px;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    margin: 0px 5px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar a:hover {
    background-color: #211f1f;
}

#navbar img {
    width: 35px;
    /* 增加图片的宽度 */
    height: 35px;
    /* 增加图片的高度 */
    margin-right: 0;
    /* 移除图片与文字之间的间距 */
}

#chat-input-container {
    position: absolute;
    bottom: 45px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    border: 0;
    padding: 0;
}

#send-button {
    display: flex;
    position: relative;
    top: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 35px;
    display: inline-block;
    vertical-align: bottom;
    height: 35px;
    border-radius: 90px;
    right: 14px;
}

#send-button:hover {
    background-color: #0056b3;
}

#send-button #arrow_right {
    display: flex;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 28px;
    height: 28px;
}

#more_function_button {
    display: none;
    position: relative;
    top: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 35px;
    display: inline-block;
    vertical-align: bottom;
    height: 35px;
    border-radius: 90px;
    right: 8px;
}

#more_function_button:hover {
    background-color: #0056b3;
}

#more_function_button #more_function_start {
    display: flex;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
}

#more_function_button_2 {
    display: none;
    position: relative;
    top: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 35px;
    display: inline-block;
    vertical-align: bottom;
    height: 35px;
    border-radius: 90px;
    right: 8px;
}

#more_function_button_2:hover {
    background-color: #0056b3;
}

#more_function_button_2 #more_function_end {
    display: flex;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 30px;
    height: 30px;
}


#agent-chat-textarea {
    display: flex;
    min-height: 20px;
    max-height: 50px;
    overflow-y: auto;
    resize: none;
    width: auto;
    position: absolute;
    bottom: 5px;
    right: 1px;
    left: 1px;
    background-color: rgba(33, 31, 31, 0.8);
    color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 10px 100px 10px 15px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    line-height: 1.5;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#agent-chat-textarea:focus {
    outline: none;
    border-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

#chat-container {
    display: flex;
    position: absolute;
    top: 0%;
    width: 100%;
    padding: 10px;
    height: 90%;
    flex-direction: column;
    background-color: rgba(red, green, blue, 0);
    overflow: auto;
    scrollbar-width: none;
}


.chat-messages-user {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5px;
    width: 100%;
    height: fit-content;
    justify-content: right;
}

.chat-messages-bot {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 5px;
    width: 100%;
    height: fit-content;
    justify-content: left;
}

.chat-bubble {
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    max-width: 60%;
    word-wrap: break-word;
    font-size: larger;
    background-color: #5b61b9;
    color: #fff;
    align-self: flex-end;
}

.chat-image-user {
    background-image: url('../images/user.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 5px;
}

.chat-image-bot {
    background-image: url('../images/bot.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 5px;
}

#star {
    height: 30px;
    width: 30px;
}

#flicker {
    display: flex;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/水晶宫殿.jpeg');
    background-size: cover;
}

#more_function_board {
    width: auto;
    height: 200px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -150px;
    background-color: #4b4242;
    display: flex;
}

#more_function_board #function_1 {
    display: flex;
    position: relative;
    top: 50px;
    width: 50px;
    height: 50px;
    left: 4%;
    background-color: #b0aec4;
    border: 0;
    padding: 0;
    border-radius: 10px;
}

#more_function_board #function_1:hover {
    background-color: #726c6c;
}

#photo {
    display: flex;
    position: relative;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

#decorate_photo {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-image: url('../images/camera.png');
    background-size: cover;
    background-color: #4b4242;
}

#decorate_photo:hover {
    background-color: #726c6c;
}

@keyframes slideup {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-150px);
    }
}

@keyframes slidedown {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0px);
    }
}

.slide-up {
    animation: slideup 0.5s ease-in-out forwards;
}

.slide-down {
    animation: slidedown 0.5s ease-in-out forwards;
}

#phone-button {
    position: absolute;
    left: 3px;
    bottom: 55px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#phone_icon {
    width: 50px;
    height: 50px;
}

.pause {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 60px;
    right: 10px;
    cursor: pointer;
    background-image: url(../images/pause_inactive.png);
    background-size: cover;
}