<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>联系我们</title>
    <link rel="stylesheet" href="../static/css/user_agreement.css" />
    <link rel="icon" href="../static/favicon.ico" />
</head>

<body>
    <div class="header" role="banner" aria-label="页眉">
        <button class="back-button" onclick="window.location.href='/mine'" aria-label="返回我的页面">&#8592;</button>
        视界之声-联系我们
    </div>

    <div id="contact-content" role="main" aria-label="联系我们内容" style="text-align: center; margin-top: 50px;">
        <p>欢迎加入我们的用户微信群👏</p><br>
        <img src="../static/images/qrcode.jpg" alt="用户群二维码" style="width: 300px; height: auto;"><br><br>
        <p>邮箱：hdgong@qq.com</p>
    </div>

</body>

</html>