<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>设置</title>
    <link rel="stylesheet" href="../static/css/settings.css" />
    <link rel="icon" href="../static/favicon.ico" />
</head>

<body>
    <div class="header" role="banner" aria-label="页眉">
        <button class="back-button" onclick="window.location.href='/mine'" aria-label="返回我的页面">&#8592;</button>
        设置
    </div>
    <div class="settings-items">
        <div class="settings-item" role="region" aria-live="polite" aria-label="通话界面 环境描述复杂度设置">
            <label for="complexity">通话界面 环境描述复杂度</label>
            <select id="complexity" onchange="updateAriaLabel(this)" class="select-left">
                <option value="detailed">详细</option>
                <option value="simple">简洁</option>
            </select>
        </div>
    </div>

    <script src="../static/js/settings.js"></script>
</body>

</html>