<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>能力</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="../static/css/base.css" />
  <link rel="stylesheet" href="../static/css/skills.css" />
    <link rel="icon" href="../static/favicon.ico" />
  </head>
  <body>
    <div class="header" role="banner">能力</div>
    <div id="navbar" role="navigation">
      <a href="/agent" aria-label="首页">
        <span>首页</span>
      </a>
      <a href="/chat" aria-label="消息">
        <span>消息</span>
      </a>
      <a href="/album" aria-label="有声相册">
        <span>相册</span>
      </a>
      <a href="/skills" aria-label="能力">
        <span>能力</span>
      </a>
      <a href="/mine" aria-label="我的">
        <span>我的</span>
      </a>
    </div>
    <div class="button-container">
      <button class="func_button" onclick="location.href='/agent'">🤖 智能体交互</button>
      <button class="func_button" onclick="location.href='/phone?avoidObstacle=true'">🚧 辅助避障</button>
      <button class="func_button" onclick="location.href='/phone?findItem=true'">🔍 帮我寻物</button>
      <button class="func_button" onclick="location.href='/phone?envDescription=true'">🌳 环境描述</button>
      <button class="func_button" onclick="location.href='/phone?currentLocation=true'">📍 获取位置</button>
      <button class="func_button" onclick="location.href='/album'">🖼️ 有声相册</button>
    </div>
  </body>
</html>