<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>用户须知</title>
    <link rel="stylesheet" href="../static/css/user_agreement.css" />
    <link rel="icon" href="../static/favicon.ico" />
</head>

<body>
    <div class="header" role="banner" aria-label="页眉">
        <button class="back-button" onclick="window.location.href='/mine'" aria-label="返回我的页面">&#8592;</button>
        用户须知
    </div>

    <div id="agreement-content" role="main" aria-label="用户须知内容">
    </div>


    <script src="../static/js/user_agreement.js"></script>
</body>

</html>