<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>智能聊天 - 视界之声</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no"
    />
    <link rel="stylesheet" href="../static/css/agent.css" />
    <link rel="icon" href="../static/images/star.png" />
    <script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/socket.io/4.4.1/socket.io.min.js"></script>
  </head>

  <body>
    <div id="main_page">
      <div id="chat-container" aria-label="聊天消息区域">
        <!-- 聊天消息将在这里显示 -->
      </div>
      
      <!-- 下部功能区 -->
      <div id="chat-input-container">
        <div id="chat-input-container">
          <a id="phone-button" href="/phone" tabindex="0" aria-label="拨打电话">
            <img src="../static/images/phone.png" id="phone_icon" alt="电话图标" />
          </a>
          <textarea id="agent-chat-textarea" placeholder="输入消息..." aria-label="输入消息" tabindex="0"></textarea>
          <button id="send-button" tabindex="0" aria-label="发送消息">
            <img src="../static/images/arrow_right.png" id="arrow_right" alt="发送图标" />
          </button>
        </div>
        <button id="more_function_button" tabindex="0" aria-label="更多功能1">
          <img
            src="../static/images/more_function_start.png"
            id="more_function_start"
            alt="更多功能1"
          />
        </button>
        <button id="more_function_button_2" tabindex="0" aria-label="更多功能2">
          <img
            src="../static/images/more_function_end.png"
            id="more_function_end"
            alt="更多功能2"
          />
        </button>
      </div>
      <!-- <div id="more_function_board" aria-label="更多功能面板">
        <input id="photo" type="file" accept="image/*" aria-label="选择图片" />
        <div id="decorate_photo" aria-label="装饰图片"></div>
      </div> -->
      <div id="navbar" aria-label="导航栏">
        <a href="/agent" tabindex="0" aria-label="首页">首页</a>
        <a href="/chat" tabindex="0" aria-label="消息">消息</a>
        <a href="/create" tabindex="0" aria-label="创建">
          <img src="../static/images/star.png" id="star" alt="创建" />
        </a>
        <a href="/square" tabindex="0" aria-label="广场">广场</a>
        <a href="/mine" tabindex="0" aria-label="我的">我的</a>
      </div>
    </div>
    <div id="microphone" class="voice"></div>
    <audio id="audioPlayer" controls autoplay style="display: none"></audio>
    <script src="../static/js/auth.js"></script>
    <script src="../static/js/agent.js"></script>
    <script src="../static/js/audio.js"></script>
  </body>
</html>