<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>视界之声-消息列表</title>
    <link rel="stylesheet" href="../static/css/chat.css">
    <link rel="stylesheet" href="../static/css/chat.css">
</head>

<body>
    <div class="header">视界之声</div>
    <div class="message-list">
        <div class="message-item" data-agent="agent1" onclick="selectChatAgent('defaultAgent'); window.location.href='/agent'">
            <img src="../static/images/user.png" alt="头像" class="avatar">
            <div class="content">
                <div class="name">生活助手</div>
                <div class="description">环境识别、帮我寻物、辅助避障</div>
            </div>
            <div class="buttons">
                <button class="button phone" onclick="event.stopPropagation(); window.location.href='/phone'"></button>
                <button class="button video" onclick="event.stopPropagation(); window.location.href='/phone?camera=on'"></button>
            </div>
        </div>
        <div class="message-item" data-agent="agent2" onclick="selectChatAgent('psychologicalAgent'); window.location.href='/agent'">
            <img src="../static/images/bot.png" alt="头像" class="avatar">
            <div class="content">
                <div class="name">心灵树洞</div>
                <div class="description">今天心情怎么样啊？</div>
            </div>
            <div class="buttons">
                <button class="button phone" onclick="event.stopPropagation(); window.location.href='/phone'"></button>
                <button class="button video" onclick="event.stopPropagation(); window.location.href='/phone?camera=on'"></button>
            </div>
        </div>
        <!-- 可以继续添加更多消息项 -->
    </div>
    <div id="navbar">
        <a href="/agent">首页</a>
        <a href="/chat">消息</a>
        <a href="/create">
            <img src="../static/images/star.png" id="star" />
        </a>
        <a href="/square">广场</a>
        <a href="/mine">我的</a>
    </div>
    <script src="../static/js/chat.js"></script>
    <script src="../static/js/agent.js"></script>
    <script src="../static/js/phone.js"></script>
</body>

</html>