<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页 - 视界之声</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="login-container">
        <label for="username" id="username-label">用户名:</label>
        <input type="text" placeholder="请输入用户名" id="username" aria-labelledby="username-label" tabindex="0">

        <label for="password" id="password-label">密码:</label>
        <input type="password" placeholder="请输入密码" id="password" aria-labelledby="password-label" tabindex="0">

        <button id="login_button" tabindex="0" aria-label="登录">登录</button>
        <button id="register_button" tabindex="0" aria-label="注册">注册</button>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>