<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页 - 视界之声</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="login-container">
        <input type="text" placeholder="请输入用户名" id="username">
        <input type="password" placeholder="请输入密码" id="password">
        <button id="login_button">登录</button>
        <button id="register_button">注册</button>
    </div>
    <script src="../static/js/index.js"></script>
</body>
</html>