<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>视界之声-我的</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/mine.css" />
    <link rel="icon" href="../static/favicon.ico" />
  </head>
  <body>
    <div class="profile" aria-label="用户资料">
      <img src="../static/images/user.jpg" alt="用户头像" class="avatar">
      <div class="user-info">
        <div class="username" aria-label="用户名">不知名的大侠</div>
        <div class="user-account" aria-label="用户账号">账号: 获取失败</div>
      </div>
    </div>

    <div class="options" aria-label="用户选项">
      <a href="/photo_manage" class="option" aria-label="前往寻物画廊">寻物画廊</a>
      <a href="" class="option" aria-label="联系我们">联系我们</a>
      <a href="" class="option" aria-label="进入设置">设置</a>
      <a class="option logout" aria-label="退出登录">退出登录</a>
    </div>

    <div id="navbar" role="navigation" aria-label="主导航栏">
      <a href="/agent" aria-label="首页">首页</a>
      <a href="/chat" aria-label="消息">消息</a>
      <a href="/create" aria-label="创建">
        <img src="../static/images/star.png" id="star" alt="创建图标" />
      </a>
      <a href="/square" aria-label="广场">广场</a>
      <a href="/mine" aria-label="我的">我的</a>
    </div>

    <script src="../static/js/mine.js"></script>
  </body>
</html>