<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>我的 - 视界之声</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=0"
    />
    <link rel="stylesheet" href="../static/css/mine.css" />
  </head>
  <body>
    <div id="imformation-board" role="region" aria-label="用户信息板">
      <div id="user-image" role="img" aria-label="用户头像"></div>
      <div id="info-detail">
        <h1>用户名</h1>
        <p>UID:123456789</p>
      </div>
    </div>
    <div class="navbar" role="navigation" aria-label="导航栏">
      <a href="/" aria-label="首页">首页</a>
      <a href="/chat" aria-label="消息">消息</a>
      <a href="/create" aria-label="创建">
        <img src="../static/images/star.png" alt="创建" id="star" />
      </a>
      <a href="/square" aria-label="广场">广场</a>
      <a href="/mine" aria-label="我的">我的</a>
    </div>

    <script src="../static/js/mine.js"></script>
  </body>
</html>