<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>我的 - 视界之声</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.7, maximum-scale=0.7, user-scalable=0"
    />
    <link rel="stylesheet" href="../static/css/mine.css" />
  </head>
  <body>
    <div id="imformation-board">
      <div id="user-image"></div>
      <div id="info-detail">
        <h1>用户名</h1>
        <p>UID:123456789</p>
      </div>
    </div>
    <div class="navbar">
      <a href="/">首页</a>
      <a href="/chat">消息</a>
      <a href="/create">
        <img src="../static/images/star.png" id="star" />
      </a>
      <a href="/square">广场</a>
      <a href="/mine">我的</a>
    </div>

    <script src="../static/js/mine.js"></script>
  </body>
</html>
