<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0 user-scalable=no">
    <title>与智能体通话</title>
    <link rel="stylesheet" href="../static/css/phone.css">
    <script src="https://kit.fontawesome.com/11023f265d.js" crossorigin="anonymous"></script>
</head>
<body>
    <i class="fa-solid fa-chevron-left goBack"></i>
    <i class="fa-solid fa-repeat toggleCamera" style="display: none;"></i>
    <video src="#" style="display: none;">您的浏览器不支持视频通话</video>
    <div class="container">
        <img src="../static/images/bot.png" alt="智能体头像">
    </div>

    <!-- 控件部分 -->
    <div class="controller">
        <div class="status">
            <!-- 智能体状态在这写 -->
        </div>
        <i class="fa-solid fa-video openCamera"></i>
        <i class="fa-solid fa-phone-slash hangUp"></i>
    </div>
    
    <script src="../static/js/phone.js"></script>
</body>
</html>