<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>视界之声-寻物画廊</title>
    <link rel="stylesheet" href="../static/css/photo_manage.css" />
    <link rel="icon" href="../static/images/visionvoice_ico.ico" />
</head>

<body>
    <div class="header">
        <button class="back-button" onclick="window.location.href='/mine'">&#8592;</button>
        视界之声-寻物画廊
    </div>

    <div class="gallery" id="gallery"></div>

    <div id="footer" class="footer">
        <button id="addButton" style="height: 85%; width: 80%;">+</button>
        <button id="cameraButton" style="display: none;">从摄像头获取</button>
        <button id="albumButton" style="display: none;">从相册获取</button>
        <button id="cancelButton" style="display: none; width: 80%;">取消</button>
        <input type="file" id="fileInput" accept="image/*" capture="camera" style="display: none;">
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <img id="modalImage" src="" alt="">
            <input type="text" id="imageName" value="">
            <button id="saveButton">修改</button>
            <button id="deleteButton">删除</button>
            <span id="statusMessage" style="margin-left: 50px;"></span>
            <button id="backButton" style="display: block; margin-top: 10px;">返回</button>
        </div>
    </div>

    <script src="../static/js/photo_manage.js"></script>
</body>

</html>