/* 底部导航栏 start
------------------------------------------ */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 50px;
    padding: 0;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #333;
}

#navbar a {
    text-decoration: none;
    color: inherit;
    margin: 0px 2px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 25%;
}

/* 添加媒体查询，处理小屏幕情况 */
@media screen and (max-width: 333px) {
    #navbar a span {
        /* 隐藏文字，显示图标 */
        display: none;
    }
    
    #navbar a {
        padding: 10px;
        width: 45px;
        height: 45px;
    }
    
    #navbar a::before {
        content: '';
        width: 25px;
        height: 25px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    #navbar a[href="/agent"]::before {
        background-image: url('../images/home.png');
    }
    
    #navbar a[href="/chat"]::before {
        background-image: url('../images/chat.png');
    }

    #navbar a[href="/album"]::before {
        background-image: url('../images/album.png');
    }

    #navbar a[href="/skills"]::before {
        background-image: url('../images/skills.png');
    }
    
    #navbar a[href="/mine"]::before {
        background-image: url('../images/mine.png');
    }
}
/* 底部导航栏 end
------------------------------------------ */