* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    background-size: cover;
    font-family: Arial, sans-serif;
}

/* ----- 登录容器样式 ----- */
.login-container {
    margin: 0 1rem;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 0;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #3eb575;
}

#login_button {
    width: 100%;
    padding: 12px;
    background-color: #3eb575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

#login_button:hover {
    background-color: #297a4f;
}

.register-link {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.register-link a {
    color: #3eb575;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.login-type-switch {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #f5f5f5;
    padding: 3px;
}

.login-type-switch span {
    flex: 1;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease;
    -webkit-tap-highlight-color: transparent;
}

.login-type-switch span.active {
    color: #fff;
}

.slider {
    position: absolute;
    left: 3px;
    top: 3px;
    width: calc(50% - 3px);
    height: calc(100% - 6px);
    background: #4CAF50;
    border-radius: 3px;
    transition: transform 0.3s ease;
}

.slider.pwd-login {
    transform: translateX(100%);
}

/* ----- 注册容器样式 ----- */
.register-container {
    margin: 0 1rem;
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* 注册按钮样式 */
#register_button {
    width: 100%;
    padding: 12px;
    background-color: #3eb575;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

#register_button:hover {
    background-color: #297a4f;
}

/* 返回登录链接样式 */
.login-link {
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 14px;
}

.login-link a {
    color: #3eb575;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

/* ----- 消息提示样式 start ----- */
.message {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
}

.message.success {
    color: #297a4f;
}

.message.error {
    color: #f44336;
}

/* ----- 消息提示样式 end ----- */

.bottom-text {
    position: fixed;
    text-align: center;
    bottom: 0vh;
    font-size: 14px;
    background-color: #333;
    width: 100vw;
    color: #e0e0e0;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    /* 去掉链接的下划线 */
}