body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #1e1e1e;
}

#navbar a[href="/mine"] {
    font-weight: bold;
    /* 加粗字体 */
}

#navbar a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#navbar img {
    width: 35px;
    /* 增加图片的宽度 */
    height: 35px;
    /* 增加图片的高度 */
    margin-right: 0;
    /* 移除图片与文字之间的间距 */
}

.profile {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.username {
    font-size: 18px;
    font-weight: bold;
}

.user-account {
    font-size: 14px;
    color: #aaa;
}

.options {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

.options .option:first-child {
    border-top: 1px solid #333;
}

.option {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 20px 10px;
    /* 修改padding为上下20px，左右10px */
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #333;
}

.option:hover {
    background-color: #444;
}

.logout {
    background-color: #d32f2f;
    color: white;
    margin-top: 20px;
    border-top: 1px solid #333;
}

.logout:hover {
    background-color: #b71c1c;
}